<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ICONE">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Caio</title>
</head>
<body>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/caio1.jpg" alt="Foto do Caio">
            <h1>Caio Dariva</h1>
            <div>
                <a href="linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="github">
                    <i class="bi bi-github"></i>
                </a>
                <a href="instagram">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
    </aside>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/"></script>
</body>
</html>